/* app css stylesheet */
body{
  padding: 10px;
}

.words-list {
  border: 0 transparent;
}

.bloc { display:inline-block; vertical-align:top; overflow:hidden; border:solid transparent 1px; }
.bloc select { padding:10px; margin:-5px -20px -5px -5px; }

.input-box{
  width: 100%;
  padding: 5px 30px 5px 5px;
  height: 200px;
  display: block;
}

.input-div{
  display: inline-block;
  position: relative;
  width: 100%;
}

.copyButton{
  position: absolute;
  bottom: 5px;
  right: 5px;
  cursor: copy;
}

.clearButton{
  position: absolute;
  bottom: 170px;
  right: 5px;
  cursor: copy;
}

.copiedTitle{
  position: absolute;
  bottom: 5px;
  right: 35px;
  color: lightgray;
}

.result-box{
  background: lightgrey;
  height: 200px;
  padding: 5px;
  width: 100%;
}

.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.50); }
