<!DOCTYPE html>
<html lang="en" ng-app="myApp" class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Sentences Builder App</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="lib/html5-boilerplate/dist/css/normalize.css">
    <link rel="stylesheet" href="lib/html5-boilerplate/dist/css/main.css">
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="app.css">
    <script src="lib/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
    <script src="lib/jquery/dist/jquery.min.js"></script>
    <script src="lib/rx-lite/rx.lite.min.js"></script>
</head>
<body ng-controller="sbController as ctrl">
<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

<div class="container">
    <nav class="navbar fixed-top navbar-light bg-transparent" style="padding-top: 0;">
        <div class="container border-bottom bg-light">
            <h2>Sentences Builder</h2>
            <select ng-model="lang" ng-change="changeLanguage()" class="custom-select" style="width: 120px">
                <option value="uk">Ukrainian</option>
                <option value="ru">Russian</option>
            </select>
        </div>
    </nav>
    <div class="row" id="description" style="margin-top: 70px; height: 250px;">
        <div id="enTitle" class="col-12" style="margin-bottom: 10px;">
            <p>
                If you know English but not very well, this service help you to build English sentences.
            </p>
            <p>
                Just enter English text in left input box, and see on translating to native language in right box.
            </p>
            <p>
                Suggestions of English words will be appear below (select if need using <i>arrow Key</i> and press <i>space
                Bar</i>).
            </p>
            <p>
                Forgot some word? Type it on native language, variants of translating will be appear below, and you can select one of them.
            </p>
            <p>
                <u>Guess</u>: if translating looks good then original text is also correct.
            </p>
            <div class="text-right" style="padding-bottom: 5px;">
                <span class="align-middle">Try</span> <i class="material-icons align-middle">sentiment_satisfied_alt</i>
            </div>

        </div>
        <div id="uaTitle" class="col-12" style="margin-bottom: 10px; display: none;" ng-show="lang=='noneua'">
            <p>
                Якщо Ви володієте англійскою мовою, ала не дуже впевнено, цей сервіс допоможе Вам написати речення
                на англійській.
            </p>
            <p>
                Просто вводіть його в лівий бокс, та дивіться переклад на українську в правому боксі.
            </p>
            <p>
                Підказки з напису англійских слів будуть з'являтися в списках знизу
                (якщо треба, то виберіть за допомогою <i>arrowKeys</i> і натисніть <i>spaceBar</i>).
            </p>
            <p>
                Забули якесь слово? Наберіть його рідною мовою, варіанти перекладів також з'являться знизу і можна вибрати один с них.
            </p>
            <p>
                <u>Припускаємо</u>: якщо переклад виглядає добре, то й оригінальне речення на англійскій мові також побудовано коректно.
            </p>
            <div class="text-right" style="padding-bottom: 5px;">
                <span class="align-middle">Спробуйте</span> <i class="material-icons align-middle">sentiment_satisfied_alt</i>
            </div>

        </div>
        <div id="ruTitle" class="col-12" style="margin-bottom: 10px; display: none;" ng-show="lang=='noneru'">
            <p>
                Если Вы владеете английским языком, но не очень уверенно, этот сервис поможет Вам написать
                английское предложение.
            </p>
            <p>
                Просто вводите его в левый бокс и смотрите перевод на русский в правом боксе.
            </p>
            <p>
                Подсказки по написанию английских слов будут появляться внизу
                (если нужно, то выберите при помощи <i>arrowKeys</i> и нажмите <i>spaceBar</i>).
            </p>
            <p>
                Забыли какое-то слово? Наберите его на русском,
                варианты переводов также появляются снизу и можно выбрать один из них.
            </p>
            <p>
                <u>Предположение</u>: если перевод выглядит красиво, то и оригинальное
                предложение на английском языке тоже построено корректно.
            </p>
            <div class="text-right" style="padding-bottom: 5px;">
                <span class="align-middle">Попробуйте</span> <i class="material-icons align-middle">sentiment_satisfied_alt</i>
            </div>

        </div>
    </div>
    <div class="row" id="mainPanel" style="display: none;">
        <div class="col-sm-12 col-lg-6">
            <div class="input-div">
                <label for="input" style="color: lightgrey;">english</label>
                <textarea id="input" ng-model="inputValue" ng-change="change()" class="input-box" rows="3"
                                                     ng-copy="copied=true" ng-init="copied=false"></textarea>
                <i class="material-icons md-dark md-inactive md-18 copyButton" ng-click="copyResult()"
                   data-toggle="tooltip" data-placement="top" title="Copy text">
                    file_copy
                </i>
                <i class="material-icons md-dark md-inactive md-18 clearButton" ng-click="clearInput()"
                   data-toggle="tooltip" data-placement="bottom" title="Clear text">
                    clear
                </i>
                <div class="copiedTitle" ng-show="copied">copied</div>
            </div>
            <div class="bloc">
                <select id="results" size="10" class="words-list">
                    <option ng-repeat="word in resultsList" value="{{word}}">{{word}}</option>
                </select>
            </div>
        </div>
        <div class="col-sm-12 col-lg-6" style="padding-left: 0;">
            <label for="translated" ng-show="lang=='uk'" style="color: lightgray;">ukrainian</label>
            <label for="translated" ng-show="lang=='ru'" style="color: lightgray;">russian</label>
            <div id="translated" class="result-box">{{translatedSentence}}</div>
        </div>
    </div>
    <nav class="navbar fixed-bottom bg-transparent" style="padding-bottom: 0; font-size: 0.8em;">
        <div class="container border-top bg-light" style="padding: 8px">
            <a href="https://www.datamuse.com/api/">
                datamuse API
            </a>
            <a href="https://docs.microsoft.com/en-us/azure/cognitive-services/translator/reference/v3-0-reference">
                Azure Cognitive Services. Translator Text API v3.0
            </a>
            &copy; sergey@mironchuk.in.ua,  2018
        </div>
    </nav>
</div>

<!-- In production use:
<script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
-->
<script src="lib/angular/angular.min.js"></script>
<script src="lib/angular-route/angular-route.min.js"></script>
<script src="lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="app.js"></script>
<script src="app-settings.js"></script>
<script src="services/translate.js"></script>
<script src="services/ngClipboard.js"></script>
</body>
</html>
